.fl{
    float: left;
}
.rl{
    float: right;
}
.p20{
    padding: 20px;
   
}
.pl20{
    padding-left: 20px;
}
.pr20{
    padding-right: 20px;
}
.pt20{
    padding-top: 20px;
    position: relative;
}
.pth{
    padding-top: 2vh;
}
.pta{
    padding-top: 4vh;
}
.pb15{
    padding-bottom: 15px;
}
.tac{
    text-align: center;
}
.mr{
    margin-right: 16vw;
}
.w50{
    width: 48%;
}
.br1{
    border-right: 1px solid #666;
}
.bt1{
    border-bottom: 1px solid #666;
}
.tar{
    text-align: right;
  }
  .mt1{
      margin-top: 5vh;
      position: absolute;
      bottom: 2%;
      left:1%;
  }
.scrollY {
    overflow-y: auto;
    padding-right: 10px;
    overflow-x: auto;
  }
  .overflowY{
    height: 75vh;
    overflow-y: scroll;
  }
//   .dialogBox {
//     margin-top: -7vh;
//   }
 .textList{
     font-size: 0.7vw;
     th{
        background-color:  rgba(190, 195, 195,0.5)!important;
       }
  }
  .btnSize{
      font-size: 0.6vw !important;
      padding: 0.6vw !important;
  }
  .pageList{
   /deep/ .el-pager li {
        font-size: 0.5vw;
    }
  }
 
.treeTop{
    position: relative;
    span{
       display: block;
        position: absolute;
        
    }
}

  .scrollY::-webkit-scrollbar { /*滚动条整体样式*/
    width: 1px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
  }
  
  .scrollY::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(0, 0, 0);
  }
  
  .scrollY::-webkit-scrollbar-track { /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgb(96, 126, 239);
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
  }
  .topBar{
      span{
          font-size: 0.8vw;
      }
     .el-input{
          width: 11vw;
          margin-right:0.8vw;
          margin-bottom: 10px;
      }
      .el-input__inner{
        line-height: 30px;
        height: 4vh;
      }
      .el-input__icon {
        line-height: 1vh;
    }
    .el-date-editor .el-range-separator {
        width: 6vw;
        line-height: 3vh;
    }
    .el-date-editor .el-range-input, .el-date-editor .el-range-separator {
        font-size: 0.6vw;
    }
  }

  .brotherBar{
    span{
        font-size: 0.8vw;
    }
    /deep/ .el-input{
        width: 12vw;
        margin-right:0.8vw;
        margin-bottom: 10px;
    }
    /deep/ .el-input__inner {
        height: 25px;
        line-height: 40px;
        width: 181%;
    }
}

.temporary{
    margin-right: 0vw;
    span{
        font-size: 0.8vw;
    }
    .el-input{
        width: 12vw;
        margin-right:0.8vw;
        margin-bottom: 10px;
    }
    .el-input__inner{
      line-height: 30px;
    }
}

  .textareaBar{
    .el-input{
        width: 18vw;
        margin-right:10px;
        margin-bottom: 10px;
    }
    .el-input__inner{
      line-height: 39px;
    }
    .el-textarea {
        width: 40%;
    }
}
//   .dialogBox{
//     .el-dialog{
//         width: 60%;
//     }
//     .el-dialog__header{
//         text-align: center;
//     }
//   }
  .elInputBox{
   /deep/ .el-textarea__inner {
        display: block;
        resize: vertical;
        padding: 5px 15px;
        line-height: 1.5;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        font-size: inherit;
        background-image: none;
        border: none;
        outline:none;
        resize:none
    }
   /deep/ .el-input__inner {
        -webkit-appearance: none;
        background-color: #FFF;
        background-image: none;
        border: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #606266;
        display: inline-block;
        font-size: inherit;
        height: 40px;
        line-height: 40px;
        outline: 0;
        padding: 0 15px;
        -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
        transition: border-color .2s cubic-bezier(.645,.045,.355,1);
        width: 100%;
    }
  }